
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
}


header {
    /* background-color: #1896fdf3; */
    background-image: url("images/medicine-capsules-global-health.jpg");
    background-size: cover;
    color: #fff;
    /* padding: 20px 0; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.banner {
    background-image: url('images/pexels-shvets-production-9742906.jpg');
    background-size: cover;
    color: #000;
    /* padding: 100px 0; */
    text-align: center;
}
.banner:hover {
    opacity: 0.9; /* Reduce opacity on hover */
    transition: opacity 0.3s ease;
}
.contact{
    background-image: url('images/pexels-shvets-production-9742906.jpg');
    background-size: cover;
    color: #000;
    /* padding: 100px 0; */
    text-align: center;
}

.pages{
    padding-bottom: 2rem;

    text-align: right;

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    } 

     nav ul li {
        display: inline;
        margin-left: 1%;
        
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: left; 
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 3px solid transparent; /* Add underline effect */
        transition: border-color 0.3s ease; /* Smooth transition for underline */
    }

    nav ul li a:hover {
        background-color: black;
        color: #1896fdf3;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        border-color: #333; /* Change border color on hover */
    }

}

.products{
    
    h3{
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }
    p{
        text-align: center;
        font-size: 16px;
        color: #666;
    }
}  

.product1{
    img{
        height: auto;
        max-width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid #ddd;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
    img:hover{
        /* increases the size by 10% */
        transform:scale(1.05);
        border-color: #1896fdf3;
        transition: all .3s ease-in-out;
    }
}

.product2{
    img{
        height: auto;
        max-width: 45%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        border: 1px solid #ddd;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
    img:hover{
        /* increases the size by 10% */
        transform:scale(1.05);
        border-color: #1896fdf3;
        transition: all .3s ease-in-out;
    }
}
.banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.services {
    padding: 50px 0;
}

.service {
    margin-bottom: 20px;
}

.service h3 {
    font-size: 24px;
}

.copyright{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: left;
}
   
footer :hover {
    color: #a4e694f3;
}

